table {
    width: 600px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
table, th, td {
    border: 1px solid #CCCCFF;
}
th, td {
    padding: 5px;
    text-align: center;
}



.table-title{
    background-color: lightgray;
    text-align: center;
}